@page
@model NipssDOS.Areas.Root.Pages.ParticipantManager.ListParticipantModel

@{
    ViewData["Title"] = "Index";
}



<div class="card-body">
    <h3>
        Participants for @Model.Alumni.Title (@Model.SecParticipant.Count() Participants)

        <a asp-page="/Main/AlumniInfo" asp-area="Root" asp-route-id="@Model.Alumni.Id" class="btn btn-danger pull-right">Back to Details</a>

    </h3>
    @if (User.Identity.IsAuthenticated && User.IsInRole("mSuperAdmin") || User.IsInRole("Editor"))
    {
        <h6>
            <a asp-page="/ParticipantManager/Create" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Add New Participant to SEC</a>
        </h6>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("mSuperAdmin"))
    {
        <h6>
            <a asp-page="/ParticipantManager/Index" asp-route-id="@Model.Alumni.Id" class="btn btn-primary">Participant</a>
        </h6>
    }
    <div class="table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>
                        Fullname
                    </th>
                    <th>Image</th>
                    <th>
                        Sponsor
                    </th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Study Group</th>

                </tr>
            </thead>
            <tbody>

                @{ int sn = 0;}

                @foreach (var item in Model.SecParticipant)
                {
                    <tr>
                        <td>
                            @{ sn++; }
                            @sn
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Title)
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>
                        <td>
                            <img src="https://NipssDOS.com/@item.Profile.AboutProfile" height="70" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Sponsor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudyGroup.Title)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>